.gradle/
.project
.settings/
build/
app/build/
app/.cxx/
*.apk
local.properties
*.iml
.idea/
dirtyfrag-lkm/*.cmd
dirtyfrag-lkm/*.o
dirtyfrag-lkm/*.mod
dirtyfrag-lkm/*.mod.c
dirtyfrag-lkm/*.lto.o
dirtyfrag-lkm/modules.order
dirtyfrag-lkm/Module.symvers
app/src/main/jniLibs/arm64-v8a/libdfroot_direct_kernel_*.so
